.tl_set_small {
    max-width: 90px !important;
    min-width: 70px !important;
    min-height: 70px !important;
    border-radius: 10px;
    background: var(--rc_btn_dark) !important;
}

.tl_set_small:hover {
    background: var(--rc_btn_dark_hover) !important;
    outline: solid 1px var(--rc_outline_color);
}

.tl_btn_small_green {
    max-width: 120px;
    background: var(--rc_green_norm);
    outline: solid 1px var(--rc_outline_color);
    margin: 6px;
    border-radius: 6px;
}

.tl_btn_common_green {
    background: var(--rc_green_norm);
    outline: solid 1px var(--rc_outline_color);
    margin: 6px;
    border-radius: 6px;
}

.tl_btn_common_red {
    background: var(--rc_red_norm);
    outline: solid 1px var(--rc_outline_color);
    margin: 6px;
    border-radius: 6px;
}


.tl_btn_common_blue {
    background: var(--rc_blue_norm);
    outline: solid 1px var(--rc_outline_color);
    margin: 6px;
    border-radius: 6px;
}
.tl_btn_mid_blue {
    background: var(--rc_blue_dark);
    outline: solid 1px var(--rc_outline_color);
    margin: 6px;
    border-radius: 6px;
    max-width: 60px;
}

.tl_btn_common_orange {
    background: var(--rc_orange_norm);
    outline: solid 1px var(--rc_outline_color);
    margin: 6px;
    border-radius: 6px;
}

.tl_lora_background{
    background: var(--rc_orange_norm);
}

.tl_red_text{
    color:var(--rc_red_norm);
}

.tl_orange_text{
    color:var(--rc_orange_norm)
}