.gradio-container {
    max-width: 100% !important;
}
.common_btn {
    outline: var(--rc_outline_color) solid 2px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;;
    margin-left: 5px !important;
    margin-right: 5px !important;
    background: var(--rc_comm_btn) !important;
    border-radius: 5px;
}
.open_file_btn {
    max-width: 4.5em;
    min-width: 4.5em !important;
    height: auto;
    border: 1px solid var(--rc_outline_color);
    background: var(--rc_dark_bg) !important;
    border-radius: 5px;
}